# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/

# IDE
.idea/
.vscode/
*.iml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Cache
.npm/
.eslintcache
.stylelintcache

# Mac
.DS_Store
Thumbs.db

# 环境变量
.env.development.local
.env.test.local
.env.production.local /data/
